/* About Section Styling */
#about {
  padding: 50px;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Heading and Paragraph Styling */
#about h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffffff;
}

#about p {
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.6;
  color: #cccccc;
}

/* Research Interests Styling */
.research-interests {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.research-interests li {
  font-size: 18px;
  margin: 8px 0;
  color: #e0e0e0;
}

/* Education Section Styling */
.education-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  width: 100%;
}

.education-item {
  background-color: #1e1e1e; /* Dark background for contrast */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  text-align: left; /* Left-align text content */
  color: #e0e0e0;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.education-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border: 2px solid #ffffff;
  padding: 5px;
  border-radius: 50%;
}

.education-details {
  display: flex;
  flex-direction: column;
  gap: 4px; /* Small gap between details */
}

.education-details .degree {
  font-size: 1.1rem;
  font-weight: bold;
  color: #e0e0e0;
}

.education-details h3 {
  font-size: 1.2rem;
  color: #ffffff;
  margin: 0;
}

.education-details .location {
  font-size: 0.9rem;
  color: #bccedc; /* Softer color for location */
}

.education-details .dates {
  font-size: 0.9rem;
  color: #666666;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .education-container {
    flex-direction: column;
  }

  .education-item {
    padding: 20px;
    text-align: left;
  }

  .logo-title {
    flex-direction: row; /* Keep logo and text aligned on smaller screens */
    align-items: flex-start;
  }
}
