#contact {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  box-shadow: 0 4px 8px var(--border-color);
}

#contact h1 {
  font-size: 36px;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 20px;
}

#contact p {
  font-size: 20px;
  color: var(--muted-text-color);
  margin: 10px 0;
}

.contact-details {
  margin-top: 20px;
}

.contact-details p {
  font-size: 18px;
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.contact-icon {
  font-size: 24px;
  color: var(--primary-color);
  margin-right: 8px;
}

/* Extra space after colon */
.contact-details strong {
  margin-right: 8px;
}

/* Style for email and LinkedIn text */
.contact-info {
  margin-left: 4px; /* Adds extra space between the colon and the email/link */
}

.click-to-copy {
  cursor: pointer;
  position: relative;
}

.copy-confirmation {
  font-size: 14px;
  color: var(--primary-color);
  margin-top: 8px;
  font-style: italic;
  animation: fadeInOut 2s ease;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

#contact a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

#contact a:hover {
  text-decoration: underline;
}

/* Extra space above thank you message */
.thank-you-message {
  margin-top: 60px; /* Increased space above the message */
  font-size: 18px;
  color: var(--text-color);
  font-style: italic;
}

@media (min-width: 768px) {
  #contact {
    min-height: 70vh;
    padding: 3px;
  }
}
