.section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  min-height: 50vh; /* Optional: adjusts for larger screens */
  background-color: #f4f4f4;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}
