/* Portfolio Section Styling */
#portfolio {
  padding: 30px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background-color: var(--secondary-bg-color);
}

#portfolio h1 {
  font-size: 36px;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 30px;
}

#portfolio h2 {
  font-size: 30px;
  color: var(--text-color);
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Publications and Awards Containers */
.publications, .awards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

/* Individual Publication Styling */
.publication {
  background-color: var(--secondary-bg-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px var(--border-color);
  margin-bottom: 20px;
  width: 100%;
  text-align: left;
}

.publication p {
  font-size: 16px;
  color: var(--muted-text-color);
  margin: 5px 0;
}

.publication a {
  font-size: 16px;
  color: var(--primary-color);
  text-decoration: none;
  margin-top: 10px;
}

.publication a:hover {
  text-decoration: underline;
  color: var(--text-color);
}

.note {
  margin-top: 10px;
  color: var(--muted-text-color);
  font-size: 15px;
}

/* Award Item Styling */
.award-item {
  background-color: var(--secondary-bg-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px var(--border-color);
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px;
}

.award-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.award-logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  flex-shrink: 0;
}

.award-info {
  text-align: left;
}

.award-info h3 {
  font-size: 18px;
  color: var(--text-color);
  margin: 0;
}

.award-info p {
  font-size: 15px;
  color: var(--muted-text-color);
  margin: 4px 0;
}

.award-description {
  font-size: 15px;
  color: var(--muted-text-color);
  text-align: left;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .award-header {
    flex-direction: column;
    align-items: center;
  }

  #portfolio {
    padding: 3px;
  }

  .award-logo {
    margin-bottom: 10px;
  }
}
