#skills {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
}

@media (min-width: 768px) {
  #skills {
    min-height: 70vh;
  }
}

#skills h1 {
  font-size: 36px;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 30px;
}

.skill-category h2 {
  font-size: 28px;
  color: var(--text-color);
  margin: 20px 0 10px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.skill-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--muted-text-color);
  font-size: 14px;
  color: var(--text-color);
  text-align: center;
  box-shadow: 0 4px 8px var(--border-color);
  padding: 10px;
  transition: transform 0.2s ease;
}

.skill-circle:hover {
  transform: scale(1.2);
}

/* Responsive Adjustments for Mobile Screens */
@media (max-width: 768px) {
  #skills {
    padding: 3px;
  }

  .skill-circle {
    width: 70px;
    height: 70px;
    font-size: 12px;
  }
}
