/* Global Styles */
:root {
  --bg-color: #121212;                 /* Main background color */
  --text-color: #e0e0e0;               /* Primary text color */
  --primary-color: #82b1ff;            /* Accent color for links/buttons */
  --secondary-bg-color: #1e1e1e;       /* Secondary background color */
  --muted-text-color: #888888;         /* Less prominent text color */
  --border-color: rgba(255, 255, 255, 0.1); /* For borders/dividers */
}


/* Apply variables to elements */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--primary-color);
}

.section-container, .experience-section, .education-item, .publication, .award-item {
  background-color: var(--secondary-bg-color);
}

.App {
  background-color: var(--bg-color)
}

/* Section styling (Add sections with unique background colors) */
section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  padding: 50px;
}

/* Section specific styling */
#home {
  background-color: #121212;
}

#about {
  background-color: #4b4b4e;
}

#skills {
  background-color: #121212;
}

#experience {
  background-color: #4b4b4e;
}

#portfolio {
  background-color: #121212;
}

#contact {
  background-color: #121212;
}
