/* Global Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
  padding-top: 60px;  /* Prevent content from hiding behind the header */
}

/* Section styling (Add sections with unique background colors) */
section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  padding: 50px;
}

/* Section specific styling */
#home {
  background-color: #f4f4f4;
}

#about {
  background-color: #e4e4e4;
}

#skills {
  background-color: #f4f4f4;
}

#experience {
  background-color: #e4e4e4;
}

#portfolio {
  background-color: #f4f4f4;
}

#contact {
  background-color: #e4e4e4;
}
